.root{
    -fx-font: 10pt "monospace";
    -fx-base: #5d5d5d;
    -fx-background: #5d5d5d;
    -fx-focus-color: rgba(255, 0, 0, 0);
    -fx-faint-focus-color: rgba(255, 0, 0, 0);
}




.list-view {
    -fx-selection-bar: #9b5e00;
}


.table-view {
    -fx-selection-bar:  #9b5e00;
}

.tree-cell:hover, .menu-item:hover, .list-cell:hover {
    -fx-background-color: rgb(74, 74, 73);
}

.button {
    -fx-background-color: grey;
}

.button:focused {
    -fx-background-color: #5d5d5d;
}


.button:hover {
    -fx-background-color: #9b9b9b;
}

.list-view {
    -fx-background-color: #5d5d5d;
}


.tree-cell,.list-cell,.table-view {
    -fx-background-color: #5d5d5d;
}

.badField {
    -fx-border-radius: 2px;
    -fx-border-color: red;
}

.menu-bar {
    -fx-background-color: #5d5d5d;
}

.menu:hover {
    -fx-background-color: #9b5e00;
}

.menu{
    -fx-background-color: #9b5e00;
}

.transparentButton, .transparentButton:hover,.transparentButton:focused  {
    -fx-background-color: transparent;
}

.triangle {
    -fx-background-color: rgba(255, 15, 0, 0.3);
}

.triangle:hover {
    -fx-background-color: rgba(125, 117, 119, 0.71);
}


.text-field {
    -fx-min-width: 150px;
}

.tab-pane {
    -fx-background-color: #5d5d5d;
}






